body {
    background-color: whitesmoke;
  }
  
  .jumbotron h1 {
    color: #FFCC00;
  }

  .jumbotron {
    background-image: url("../img/post.JPG");
    background-size: cover;
    background-position: center 60%;
  }
  